backend:
cors:
  allow-origin:
  allow-credentials:
  allow-methods:
  allow-headers:
proxy:
  port: 80
  api-prefix: "/"
grpc:
  max-call-recv-msg-size: 0
  max-call-send-msg-size: 0
gateway:
  use-json-names: false
swagger:
  file: "{{.Swagger}}"

